*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background: url(./backgroung.jpg);
  background-size: cover;
  font-family: sans-serif;
  
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  background:rgba(255, 255, 255,0.9);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
  width: 350px;
  height: 60vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #7876f5 50%, #a735e8 100%); }

.headline{
  font-size: 18px;
  color: #fff;
}

.logo{
  margin: 20px 0;
  width: 85px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
}

.logo img{
  width: 70px;
  height: 70px;
}

input{
  color: white;
  width: 80%;
  outline: none;
  border:none;
  border-bottom: 1px solid gray;
  padding:10px 0;
  margin: 20px 0;
  background: transparent;
}

input::placeholder{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  opacity: 1;
}

button{
  width: 20%;
  margin: 20px 0;
  padding:10px 0;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 20px;
}

.extra li {
  color: rgba(71, 71, 71, 0.7);
  margin: 5px 0;
}

.extra a{
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}